#pagenotfound{
    background-color: #ccc;
    // height: 100%;
}
h2.header {
  text-align: center;
  position: relative;
  width:100%;
  margin: 0;
  padding: 10px;
//   top: 5%;
}

img {
    position: relative;
    // top: 10%;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    /*margin: 0 0 0 -458px;*/
}