<md-card>
  <md-card  class="home-section"> 
    <md-card-title>
      Favoriten
    </md-card-title>
  </md-card>
    <md-list>
      <h4 class="home-subsection"> Kurse </h4>
    <md-list-item> <span class="list-icon"><md-icon>folder</md-icon></span> Theo 3 </md-list-item>
    <md-list-item> <span class="list-icon"><md-icon>folder</md-icon></span>Mathe 3 </md-list-item>
    <md-list-item> <span class="list-icon"><md-icon>folder</md-icon></span>Ex3a </md-list-item>
    </md-list>
    <hr>
    <md-list>
      <h4 class="home-subsection"> Dateien </h4>
    <md-list-item> <span class="list-icon"><md-icon>insert_drive_file</md-icon></span>Theo 3 ÜB 6 </md-list-item>
    <md-list-item> <span class="list-icon"><md-icon>insert_drive_file</md-icon></span>Mathe 3 ÜB 5 </md-list-item>
    <md-list-item> <span class="list-icon"><md-icon>insert_drive_file</md-icon></span>Ex3a ÜB 5 </md-list-item>
    </md-list>
    <md-card  class="home-section"> 
    <md-card-title>
      Deine Kurse und Gruppen
    </md-card-title>
  </md-card>
</md-card>